<footer>
    <nav>
                <ul>
                    <li><a href="https://github.com/aascenc0" target="_blank">GitHub</a></li>
                    <li><a href="https://aascenc0.github.io/" target="_blank">GitHub.io</a></li>
                    <li><a href="https://aascenc0.github.io/web250/" target="_blank">WEB250.io</a></li>
                    <li><a href="https://www.freecodecamp.org/aascenc0" target="_blank">freeCodeCamp</a></li>
                    <li><a href="https://www.codecademy.com/profiles/aascenc0" target="_blank">Codecademy</a></li>
                    <li><a href="https://jsfiddle.net/u/aascenc0/fiddles/" target="_blank">JSFiddle</a></li>
                    <li><a href="https://www.linkedin.com/in/alexander-ascencio-a24412325/" target="_blank">LinkedIn</a></li>
                    <li></li>
                </ul>
    </nav>
    <p>Certified in <a href="https://www.freecodecamp.org/certification/aascenc0/responsive-web-design" target="_blank">Responsive Web Design</a>. | 
    Certified in <a href="https://www.freecodecamp.org/certification/aascenc0/javascript-algorithms-and-data-structures-v8" target="_blank">JavaScript Algorithms and Data Structures</a></p>
    <p>Page built by <a href="https://aascenc0.github.io/web250/businesscard.html" target="_blank">Alexander Ascencio</a></p>
</footer>
